<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyFirstPage</title>
  </head>
  <body>
    <div>
      <h1 id="header">Я ТЕБЯ ЛЮБЛЮ</h1>
      <h2 class="green-text">СИЛЬНО СИЛЬНО</h2>
      <h3>Мяу :з</h3>
    </div>

    <div>
      <p class="green-text">Hello my friend</p>
      <p>hello world</p>
    </div>
    <div>
      <a href="https://bmstu.ru"><span>bmstu.ru</span></a>
    </div>
  </body>
</html>
<style>
    .green-text {
        color:maroon
    }
    #header {
        text-align:center;
    }
</style>